.App {
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;

    h3 {
      margin: 1rem;
    }

    p {
      margin: 0;
    }
  }

  .content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;


    .box {
      width: calc(100% - 2rem);
      color: white;
      padding: 1rem;
      height: 300px;
      border: 1px solid grey;
      display: flex;
      flex-direction: column;

      .title {
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid grey;
      }

      .content-box {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        position: relative;
        width: 100%;

        .input-grid {
          position: absolute;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: calc(100% - 4rem);
          height: 100%;
          justify-items: center;
          align-items: center;
          padding: 2rem;
          gap: 1rem;

          .grid-item {
            position: relative;

            .active {
              position: absolute;
              background-color: rgba(163, 123, 20, 0.25);
              box-shadow: 0 0 15px rgb(163, 123, 20);
              width: 63.5px;
              height: 63.5px;
              z-index: 999;
            }

            &.middle-left {
              margin-right: 50%;
            }

            &.middle-right {
              margin-left: 50%;
            }

            .MuiInputBase-root {
              .MuiSelect-select {
                width: 63.5px !important;
                height: 63.5px !important;
                padding: 0 !important;
                background-color: #1a1a1a;
              }

              .MuiOutlinedInput-notchedOutline {
                border-color: grey !important;
                border-width: 2px !important;
              }
            }
          }
        }
      }
    }
  }
}

img {
  width: 63.5px !important;
  height: 63.5px !important;
}

.MuiList-root {
  padding: 0 !important;
  display: grid !important;
  grid-template-columns: repeat(5, 63.5px) !important;

  .MuiMenuItem-root {
    padding: 0 !important;
    border: 1px solid grey !important;
  }
}

.MuiPopper-root {
  .MuiTooltip-tooltip {
    font-size: 15px !important;
  }
}

.MuiCheckbox-root  {
  padding: 0 !important;
  color: grey !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 999 !important;
}

@media screen and (min-width: 768px) {
  .App {
    .content {
      .box {
        height: 450px;

        .content-box {
          .input-grid {
            .grid-item {
              .active {
                width: 95.25px;
                height: 95.25px;
                box-shadow: 0 0 30px rgb(163, 123, 20);
                pointer-events: none;
              }

              .MuiInputBase-root {
                .MuiSelect-select {
                  width: 95.25px !important;
                  height: 95.25px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  img {
    width: 95.25px !important;
    height: 95.25px !important;
  }

  .MuiList-root {
    grid-template-columns: repeat(5, 95.25px) !important;
  }
}

@media screen and (min-width: 1440px) {
  .App {
    .content {
      flex-direction: row;

      .box {
        height: 650px;

        .content-box {
          .input-grid {
            .grid-item {
              .active {
                width: 127px;
                height: 127px;
                box-shadow: 0 0 45px rgb(163, 123, 20);
              }

              .MuiInputBase-root {
                .MuiSelect-select {
                  width: 127px !important;
                  height: 127px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  img {
    width: 127px !important;
    height: 127px !important;
  }

  .MuiList-root {
    grid-template-columns: repeat(5, 127px) !important;
  }
}